<mat-dialog-content class="add-garage-dialog">
    <h2 mat-dialog-title class="dialog-title">{{addNewGarage}}</h2>

    <form [formGroup]="garageForm" (ngSubmit)="onSubmit()">
        @for (key of formControlKeys; track key)
        {
        <div class="form-group">
            <mat-label>{{formFieldLabels[key]}}</mat-label>
            <input matInput [formControlName]="key" [id]="key" [placeholder]="enter + ' ' + formFieldLabels[key]" />
            @if(garageForm.get(key)?.invalid && (garageForm.get(key)?.dirty || garageForm.get(key)?.touched)) {
            <mat-error> {{ getErrorMessage(key) }}</mat-error>}
        </div>
        }


        <div class="dialog-buttons">
            <app-custom-button [text]="cancel" (onTap)="onCancel()"></app-custom-button>
            <app-custom-button [disabled]="!garageForm.valid" [text]="send"  (onTap)="onSubmit()"></app-custom-button>
            <app-custom-button [disabled]="!garageForm.valid" [text]="save"  (onTap)="onSave()"></app-custom-button>
        </div>
    </form>
</mat-dialog-content>