<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="garageNumber">
      <th mat-header-cell *matHeaderCellDef>{{ columnHeaders.number }}</th>
      <td mat-cell *matCellDef="let element"> {{element.garageNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="garageName">
      <th mat-header-cell *matHeaderCellDef>{{ columnHeaders.name }}</th>
      <td mat-cell *matCellDef="let element"> {{element.garageName}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>{{ columnHeaders.address }}</th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>{{ columnHeaders.phone }}</th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="profession">
      <th mat-header-cell *matHeaderCellDef>{{ columnHeaders.profession }}</th>
      <td mat-cell *matCellDef="let element"> {{element.profession}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[itemsPerPage]"></mat-paginator>

</div>
