.container {
    display: flex;
    flex-direction: column;
    height:90%;
  }
  
  
  .multi-select {
    flex-grow: 1;
    height: 80%;
    margin-bottom: 20px;
    overflow-y: auto;
  }
  
  .sticky-button {
    position: sticky;
    bottom: 5%;
    width: 100%;
    font-weight: bold;
    text-align: center;
  }
  
  .add-garages-text {
    font-weight: bold;  
    margin-bottom: 10px; 
  }