isLoading$ | async
<app-custom-app-bar>
    @if(isLoading$ | async ;as loading && loFading===true) {}
    @else {
    @if (error$ | async ; as error) { }
    @else{
    <div class="button-container">
        <app-send-garages></app-send-garages>
        <app-add-garage-button></app-add-garage-button>
    </div>
    }
    }
</app-custom-app-bar>

@if(isLoading$ | async ;as loading && loFading===true) {
<div class="loading-indicator">
    <mat-spinner></mat-spinner>
</div>
}
@else {
@if (error$ | async ; as error) {
<app-error-message [errorMessage]="error"></app-error-message>
}
@else {
@if(garages$ | async; as garages) {
@if(garages.length === 0){

<app-empty></app-empty>
}
@else{
<div class="content">
    <div class="container">
        <app-garages-table></app-garages-table>
        <app-delete-garages-list></app-delete-garages-list>
    </div>
</div>}
}
}
}